<html>
    <head>
        <title>ola's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 26.08.2022, 15:08</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu quam. こんにちは！　よろしくお願いします！</p>
        </div>

        <div>
            <p>公開日: 2022/08/26, 15:08</p>
            <h2><a href="">２番目の投稿</a></h2>
            <p>こんにちは！よろしくお願いします！</p>
        </div>
    </body>
</html>